@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.map-container {
  width: 100%;
  height: 100%;
  /* Reset any Tailwind styles */
  all: initial;
}
@keyframes livePhoto {
  0% {
    transform: scale(1.02) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-2%);
  }
  100% {
    transform: scale(1.02) translateY(0);
  }
}

.animate-livePhoto {
  animation: livePhoto 8s ease-in-out infinite;
}